Flask==3.0.3                 # Exact version
psycopg2-binary==2.9.2
       # Exact version
            # Compatible with version 2.9.9
requests~=2.28.1             # Compatible with version 2.28.1
python-dotenv~=1.0.1         # Compatible with version 1.0.1